.image-box {
    width: 100%;
    position: relative;
}

.button-left, .button-right {
    top: 0;
    position: absolute;
    top: 40%;
    opacity: 30%;
    height: 20%;
}

.button-left {
    left: 0;
}

.button-right {
    right: 0;
}
