.layout-header {
    background-color: rgba(255, 255, 255, 0.7);
    height: 80px;
}

.content {
    background-color: rgba(255, 255, 255, 0.3);
    min-height: 280px;
    padding: 24px 200px;
    border: #0b0b0b;
}

.center-aligned {
    width: 100%;
    justify-content: center;
}

.ant-input {
    background-color: snow;
}

.ant-checkbox-inner {
    /*background-color: snow !important;*/
    /*color: red !important;*/
}

.form {
    background-color: whitesmoke;
    border: #0b0b0b;
    border-radius: 10px;
    padding: 24px 24px 1px 24px;
}

.spinner {
    width: 400px;
    height: 400px;
}
